

<div>
    <table class="table table-dark table-striped-columns">
        <thead>
        <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        SomeOther thing
                    </th>
                    <th>
                       And Another thing
                    </th>
                    <th></th>
                </tr>
        </thead>
        <tbody>

                    <tr>
                        <td>
                            ListName
                        </td>
                        <td>
                            List Description
                        </td>
                        <td>
                            Another thing about lists.
                        </td>

                    </tr>

                </tbody>
    </table>
</div>