@{
    ViewData["Title"] = "Dashboard Page";
}


    <section class="jumbo-bg d-flex flex-column justify-content-start align-items-center">
        <div>
            <p class="text-white display-5 fw-bold pt-2">₦ @ViewBag.Total</p>
        </div>
        <div class="text-center d-flex justify-content-between">
            <span class="text-white fw-semibold">Last @ViewBag.DayAverage Average spend</span><span>₦ @ViewBag.MeanTotalOver55Days</span> 
        </div>
    </section>
    <section>

    </section>


