@model ExpenseMVC.ViewModels.ExpenseVM.CreateExpenseViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add a new Expense</h1>

<hr />
<div class="row pl-3 pr-3">
    <div class="card mx-auto col-md-4 p-3">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3 mb-2">
                <label asp-for="ExpenseDate" class="control-label mb-1"></label>
                <input asp-for="ExpenseDate" class="form-control" asp-format=""/>
                <span asp-validation-for="ExpenseDate" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="ExpenseAmount" class="control-label mb-1"></label>
                <input asp-for="ExpenseAmount" class="form-control" />
                <span asp-validation-for="ExpenseAmount" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ExpenseCurrencyUsed" class="control-label mb-1"></label>
                <select asp-for="ExpenseCurrencyUsed" class="form-control" asp-items="@Html.GetEnumSelectList<Currency>()">
                    <option value="">-- Select the currency used --</option>
                </select>
                <span asp-validation-for="ExpenseCurrencyUsed" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ExpenseType" class="control-label mb-1"></label>
                <select asp-for="ExpenseType" asp-items="@Html.GetEnumSelectList<ExpenseType>()" class="form-control">
                    <option value="">-- Select Expense Type --</option>
                </select>
                <span asp-validation-for="ExpenseType" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ExpenseDescription" class="control-label mb-1"></label>
                <textarea asp-for="ExpenseDescription" class="form-control"></textarea>
                <span asp-validation-for="ExpenseDescription" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ExpenseNotes" class="control-label mb-1"></label>
                <textarea asp-for="ExpenseNotes" class="form-control"></textarea>
                <span asp-validation-for="ExpenseNotes" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ExpenseOwnerId" class ="form-control" />
            <div class="form-group mb-3 d-grid gap-2">
                <button type="submit" value="Create" class="btn         btn-secondary fw-bold">
                    <div class="justify-content-between
                align-items-center d-flex">
                        <span class=""></span>
                        <span class="">Add Expense</span>
                        <span>
                            <span class="spinna">
                                <span class="spinner-sector spinner-sector-green"></span>
                                <span class="spinner-sector spinner-sector-blue"></span>
                                <span class="spinner-sector spinner-sector-red"></span>
                            </span>
                        </span>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.spinna').hide();
            $('form').submit(function () {
                $('.spinna').show();
            });
        });
    </script>
}
