.jumbo-bg {
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background: url("../img/wave-mobile.svg") no-repeat center;
}

@media  screen and (min-width: 768px) {
    .jumbo-bg {
        height: 60vh;
        background: url("../img/wave-haikei.svg") no-repeat center;
    }
}